    <div class="header">
       <ul class="nav">
					<li>Biography</li>
          <li>Experiences</li>
          <li>Work</li>
          <li>Contact</li>
       </ul>
      <div class="container">
        
      </div>
    </div>

 		<div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1>Nicolas Chahin</h1>
          <p>Student at Boston College concentrating in Computer Science and Information Systems</p>
          <br>
          <a href="www.corriere.it" class="btn-main">View my Work</a>
        </div>
      </div>
    </div>

	 <div class="footer">
      <div class="container">
        <p>&copy; Nicoals Chahin 2016</p>
      </div>
    </div>